$orange:#f39900;
$customGrey:#f5f5f5;
$blue: #4267b2;
$error-color: #d73814;
$success-color:#378437;
$green:#A3F12C;
$iconRotate: rotate(-180deg);
$bgRed:#f44336;
$bgBlue:#115a86;

:root {

  --text-green : #7ac700;
  --btn-sucess-bg-custom :#81c137;
  --btn-suscess-dark-bg-custom :#81c137;
  --btn-sucess-bg-hover-custom :#6da42f;
  --btn-warning-bg-custom: #F59527FF;
  --bs-btn-warning-custom-border-color:#F59527FF;
  --bs-btn-warning-custom-hover-bg: #e28924;

  --blue-switch: #1673aa;
  --btn-blue-bg: #1673aa;
  --btn-blue-color:#fdfdfd;
  --btn-blue-border:rgb(66 152 203);
  --btn-blue-dark: #1673aa;
  --btn-blue-bg-hover-dark: rgb(18, 96, 142);
  --btn-blue-hover-bg: rgb(18, 96, 142);

  --tox-menu-border:#e3e3e3;
  --sortable-ghost: #b9ff2b;
  --bs-body-color: #3c434a;
}